<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-hijack-webview-link-click" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HijackWebviewLinkClick</name>
    <description>Hijack webview link click.</description>
    <keywords>cordova,hijack,webview,link,click,navigation</keywords>
    <js-module name="HijackWebviewLinkClick" src="www/HijackWebviewLinkClick.js">
        <clobbers target="cordova.plugins.HijackWebviewLinkClick" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HijackWebviewLinkClick">
                <param name="ios-package" value="HijackWebviewLinkClick"/>
            </feature>
        </config-file>

        <header-file src="src/ios/HijackWebviewLinkClick.h" />
        <source-file src="src/ios/HijackWebviewLinkClick.m" />
    </platform>
</plugin>
